
*{
   background-image: url(img22.avif); 
}

header {
    
    color: rgb(232, 220, 220);
    padding: 20px 0;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 0px;
    
}

.header-container {
    display: flex;
    grid-template-columns: 220px 1fr;
    padding: 20px;
    /* align-items: center;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0px; */
    
}

.logo {
    height: 150px;
    margin-right: 60px;
    border-radius: 75px;
}

.header-text {
    text-align: left;
    
}
.old-name{
    margin-top: -10px;
    font-family: arial;
}

.name{
    font-family: permanent marker;
   line-height: 4px;
}
h1,h3{
    font-family: Arial, Helvetica, sans-serif;
   
}
h1{
    font-size: 40px;
}
h3{
    margin-top: -10px;
}









.about,.about1{
    
    color: aliceblue;
    width: 71%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    margin: 0% 15% 0% 14%;
    line-height: 40px;
    font-size: 26px;
    font-family:cursive;
}
.about1{
    margin-top: 60px;
    font-weight: bolder;
    color: rgb(246, 245, 249);
    font-size: 34px;
    width: 75%;
    
}
.column-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* 3 columns by default */
    /* Space between videos */
    padding: 20px;
    row-gap: 100px;
    column-gap: 300px;
    margin-top: 50px;
   
    
}
.video1,.video2{
display:flex;
flex-direction: column;
justify-content: space-between;
width: 500px;
height: 300px;
margin-left: 40px;





}
.thumbnail1{
width: 500px;
height: 300px;

padding: 0px 0px 0px 0px;
border: 2px solid rgb(45, 22, 114);


}

p{
    margin: 0px 0px 2px 0px;
}


.community-name{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}
.video2{
    margin-left: 82%;
}

.main-part{
    display: block;
    margin-bottom: 0px;
}







footer{
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin-top: 80px;
    opacity: 0.8;
}
.social-icons a{
    color: #fff;
    font-size: 24px;
    margin-right: 20px;

}
footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}
.hey h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

